---
import { t } from 'i18next'

const projects = [
  {
    title: t('projects.project.filmicaTitle'),
    subtitle: t('projects.project.filmicaSubtitle'),
    body: t('projects.project.filmicaDesc'),
    web: 'https://filmica.vercel.app/',
    github: 'https://github.com/alejoelconejo/filmica-next',
    imgDesktop: 'filmica-desktop.webp',
    imgMobile: 'filmica-mobile.webp',
  },
  {
    title: t('projects.project.elconejoTitle'),
    subtitle: t('projects.project.elconejoSubtitle'),
    body: t('projects.project.elconejoDesc'),
    web: 'https://elconejoshop.vercel.app/',
    github: 'https://github.com/alejoelconejo/ecommerce-experiment',
    imgDesktop: 'elconejoshop-desktop.webp',
    imgMobile: 'elconejoshop-mobile.webp',
  },
  {
    title: t('projects.project.navidadTitle'),
    subtitle: t('projects.project.navidadSubtitle'),
    body: t('projects.project.navidadDesc'),
    web: 'https://navidad-regalos.vercel.app',
    github: 'https://github.com/alejoelconejo/navidad-regalos',
    imgDesktop: 'navidad-desktop.webp',
    imgMobile: 'navidad-mobile.webp',
  },
  {
    title: t('projects.project.memardoTitle'),
    subtitle: t('projects.project.memardoSubtitle'),
    body: t('projects.project.memardoDesc'),
    web: 'https://memardo.vercel.app',
    github: 'https://github.com/alejoelconejo/scrimba-meme',
    imgDesktop: 'memardo-desktop.webp',
    imgMobile: 'memardo-mobile.webp',
  },
]
---

<section class='flex flex-col gap-8' id='projects'>
  <h2 class='text-4xl font-bold'>{t('projects.title')}</h2>
  {
    projects.map(
      ({ title, subtitle, body, web, github, imgDesktop, imgMobile }) => (
        <article class='bg-darkGray flex p-8 rounded-md md:flex-row flex-col-reverse md:gap-0 gap-4'>
          <div class='flex-1'>
            <h3 class='text-2xl'>{title}</h3>
            <p class='text-gray-300 mb-4'>{subtitle}</p>
            <p class='text-gray-300 mb-8'>{body}</p>
            <div class='flex gap-8 text-gray-300 md:justify-start justify-around [&_a:hover]:opacity-80 [&_a]:transition-opacity [&_a]:duration-75'>
              <a
                class='flex gap-2 items-center border border-gray-300 py-1 px-3 rounded-md'
                href={web}
                target='_blank'
              >
                <img
                  src='images/logos/web-logo.svg'
                  class='h-4 w-4'
                  alt={`${title} Web`}
                />
                Web
              </a>
              <a
                class='flex gap-2 items-center border border-gray-300 py-1 px-3 rounded-md'
                href={github}
                target='_blank'
              >
                <img
                  src='images/logos/github-logo.svg'
                  class='h-4 w-4'
                  alt={`${title} GitHub`}
                />
                Repo
              </a>
            </div>
          </div>
          <div class='flex-1 relative md:px-8 px-0'>
            <a href={web} target='_blank'>
              <img
                src={`images/projects/${imgDesktop}`}
                class='object-cover h-48 aspect-video border-2 border-gray-300 rounded-md mb-6 mx-auto hover:brightness-110 transition'
                alt={`${title} Desktop`}
              />
            </a>
            <img
              src={`images/projects/${imgMobile}`}
              class='object-cover h-28 [aspect-ratio:11/20] border-2 border-gray-300 rounded-lg absolute bottom-0 right-4'
              alt={`${title} Mobile`}
            />
          </div>
        </article>
      )
    )
  }
</section>
